body{
    background-color: blue;
}
h1{
    background-color: chartreuse;
    color: white;
}
a{
    font-size: 150%;
}
a:link{
    color:red;
}
a:visited{
    color: cornflowerblue;
}
a:hover {
    color: magenta;
    font-style:italic
}