@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Open+Sans:ital,wght@1,300&family=Permanent+Marker&display=swap');
body{
    background-color: #eca;
}
h1{
    text-align: center;
    font-family: 'Fascinate Inline', cursive;
    text-transform: uppercase;
}
.principal{
    text-align: center;
    font-size:  small;
}
.latin{
    text-align: left;
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    font-size:  150%;
}
.espanol{
    color: white;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 200%;
}